<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.dropotron.min.js"></script>
<script src="static/js/jquery.scrollgress.min.js"></script>
<script src="static/js/jquery.scrolly.min.js"></script>
<script src="static/js/jquery.slidertron.min.js"></script>
<script src="static/js/skel.min.js"></script>
<script src="static/js/skel-layers.min.js"></script>
<script src="static/js/init.js"></script>
<noscript>
    <link rel="stylesheet" href="static/css/skel.css" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link rel="stylesheet" href="static/css/style-xlarge.css" />
</noscript>